.App {
  min-height: 100vh;
  background: linear-gradient(90deg, #fcffab, #acffa3);
}

.App-logo {
  float: left;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, #fcffab, #acffa3);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

.search-button {
  background: linear-gradient(90deg, #a5e29c, #1b7b2c);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 0 10px 10px 0;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}